body {
  background: url(../img/wood.jpg) fixed;
}
#init, #view {
  position: relative;
  margin: 40px auto;
  padding: 10px 25px;
  background: white;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.50);
}
@media print {
  #init, #view {
    margin: 0;
    padding: 0;
  }
}
#init {
  width: 550px;
}
#view {
  width: calc(4*210px);
}
#view-month {
  position: absolute;
  top: 85px;
  left: calc(50% - 90px);
  width: 180px;
}
#view h2 {
  margin-top: 10px;
  font-size: 26px;
  display: none;
}
#view-month select {
  font-size: 16px;
  cursor: pointer;
}
@media print {
  #view h2 {
    display: block;
  }
  #view-month {
    display: none;
  }
}
#view table {
  margin-top: 90px;
}
@media print {
  #view table {
    margin-top: 40px;
  }
}
#view tfoot tr {
  border-top: 15px solid #ffffff;
}
#view tfoot td {
  border-top: none;
}
#view tbody tr:nth-child(odd) td {
    background: #F8FBFF !important;
}
@media print {
  #view tbody tr:nth-child(odd) td {
    background: #F8FBFF !important;
  }
}
#view table td {
  white-space: nowrap;
}
#view-address {
  position: absolute;
  top: 25px;
  left: 25px;
}
@media print {
   #view-address {
     top: 0;
     left: 0;
   }
   #view-address button {
     dispay: none;
   }
}
#view-buttons {
  position: absolute;
  top: 25px;
  right: 25px;
  text-align: right;
}
@media print {
  #view-buttons {
    display: none;
  }
}
#view-date {
  display: none;
}
@media print {
  #view-date {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.modal {
  left: 50%;
  width: 350px;
  margin-left: -125px;
  margin-top: 100px;
}
.btn:focus {
  outline: none;
}